html,body{
  margin:0;
  height:100%;
  background:#000;
  overflow:hidden;
  font-family:serif;
}

.intro{
  position:fixed;
  inset:0;
  display:grid;
  place-items:center;
  z-index:10;
  color:white;
}

#main{
  opacity:0;
  transition:1s;
}

#main.show{
  opacity:1;
}

#snow{
  position:fixed;
  inset:0;
}

/* メニュー */
.overlay-text{
  position:fixed;
  inset:0;
  display:grid;
  place-items:center;
  gap:20px;
  z-index:5;
}

.menu-btn{
  color:white;
  text-decoration:none;
  font-size:2rem;
  opacity:0;
  transform:translateY(10px);
  transition:1s;
}

.overlay-text.show .menu-btn{
  opacity:1;
  transform:none;
}

.menu-btn:active{
  transform:scale(0.9);
}

/* 選択 */
.overlay-text.selecting .menu-btn{
  opacity:0.2;
}

.overlay-text .selected{
  opacity:1!important;
  transform:scale(1.1);
}
